<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Virtual Try-on</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
  <div class="container">
  <p>
  <h1 align="center">MF Hackathon: Virtual Try-on Project</h1>
  </p>
  <p>
  <h2>Customer Information</h2>
  </p>
  <form action="/" enctype="multipart/form-data" method="POST">
    <p>Customer Name</p>
    <input type="text" name="name" , id="name" required />
    <p></p>
    <p>Customer Height (cm)</p>
    <input type="text" name="height" , id="height" required />
    <p></p>
    <p>Front Image</p>
    <input type="file" name="front" required />
    <p></p>
    <p>Side Image</p>
    <input type="file" name="side" required /> &nbsp
    <p></p>
    <input type="submit" value="Submit" />
  </form>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

</div>
</body>

</html>