<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Virtual Try-on</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
  <center><img src="static/resources/matchesfashion-logo.png" alt="MF Logo" width=500px height="auto"></center>
  <div class="container">
    <p>
    <h2>Enter Product URL</h2>
    </p>
    <form action="/customer_info" enctype="multipart/form-data" method="POST">
      <p>Product URL</p>
      <input type="text" name="product_url" , id="product_url" required /> &nbsp
      <input type="submit" value="Submit" />
      <p></p>
    </form>
  </div>
</body>

</html>